<!DOCTYPE html>
<html lang="en">

<%- include("partials/header") -%>

  
        <!-- Sidebar -->
        <%- include("partials/sidebar") -%> 

   

    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="jumbotron jumbotron-fluid bg-secondary">
                    <div class="container">
                        <h1 class="display-4 font-weight-bold">Analytics</h1>
                        <p class="lead font-weight-bold">Based on the Human Resource Data of an Organization</p>
                    </div>
                </div>
                <div class="container">
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#multiCollapseExample1" aria-expanded="false"
                            aria-controls="multiCollapseExample1">Show Graphs</button>
                    </p>
                    <div class="row">
                        <div class="col-12">
                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                <h3 class="text-dark font-weight-bold">Bar Graph</h3>
                                <div class="card card-body" style="height: 30rem;background-color:#c5d4ed">
                                    <canvas id="myCompareChart1" style="background-color:gainsboro"></canvas>
                                </div>
                                <h3 class="text-dark font-weight-bold">Line Graph</h3>
                                <div class="card card-body" style="height: 30rem;background-color:#c5d4ed">
                                    <canvas id="myCompareChart2" style="background-color:gainsboro"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    </div>

    <%- include("partials/footer") -%>

        <script>
            const ctx1 = document.getElementById('myCompareChart1');
            const ctx2 = document.getElementById('myCompareChart2');
            var data = []
            var labels = []
            var avgResults = []
            for (var x of '<%= dataSet %>'.split(',')) {
                data.push(x);
            }
            for (var x of '<%= labels %>'.split(',')) {
                labels.push(x);
            }
            for (var x of '<%= avgResults %>'.split(',')) {
                avgResults.push(x);
            }
            var dataObj = {
                
                labels: labels,
                datasets: [
                    {
                        fill:false,
                        label: ('<%= mode %>' == '1vs1Compare') ? '<%= emp1_Id %>' : "Current Employee",
                        backgroundColor: "#a85654",
                        borderColor:"red",
                        data: data
                    }, {
                        fill:false,
                        label: ('<%= mode %>' == '1vs1Compare') ? '<%= emp2_Id %>' : "Average of Employee",
                        backgroundColor: "#818a3b",
                        borderColor:"green",
                        data: avgResults
                    }

                ]
            }
            var optionsObj = {
                scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontSize: 20,
                                fontColor:"black"
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                fontSize:16,
                                fontColor:'black'
                            }
                        }]
                        
                    },
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Statistics of a employee'
                }
            }
            new Chart(ctx1, {
                type: 'bar',
                data: dataObj,
                options: optionsObj
            });
            new Chart(ctx2, {
                type: 'line',
                data: dataObj,
                options: optionsObj
            });
        </script> -->

        </body>

</html>