<!DOCTYPE html>
<html lang="en">

<%- include("partials/header") -%>

    

        <!-- Sidebar -->
        <%- include("partials/sidebar") -%>
        <!-- /.sidebar -->
   

    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="jumbotron-fluid bg-warning" style="margin-top:10px;margin-bottom:20px;padding:10px">
                    <div class="container">
                        <h1 class="display-4 font-weight">Department Analytics</h1>
                        <p class="lead font-weight-bold">Based on the Human Resource Data</p>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-4 align-self-end">
                            <form>
                                <label for="department">Select one from below</label>
                                <select id="department" name="department" class="form-control">
                                    <% for(var x of depts){ %>
                                        <option value="<%= x._id %>">
                                            <%= x._id %>
                                        </option>
                                        <% } %>
                                </select>
                            </form>
                        </div>
                        <div class="col-4 align-self-end">
                            <label for="analyticsType">Select Analytics Type</label>
                            <select id="analyticsType" name="analyticsType" class="form-control">
                                <option value="ManagerName">Managers Wise Count</option>
                                <option value="Sex">Gender Count Info</option>
                                <option value="RaceDesc">Race Description</option>
                                <option value="RecruitmentSource">Recruitment Source</option>
                                <option value="PerformanceScore">Performance Count</option>
                                <option value="CitizenDesc">Citizen Description</option>
                                <option value="MaritalDesc">Marital Description</option>
                                <option value="Position">Designation Wise</option>
                                <option value="EmploymentStatus">Employment Status Info</option>
                            </select>
                        </div>
                        <div class="col-4 align-self-end">
                            <label for="EmploymentStatus">Employee Status</label>
                            <select id="EmploymentStatus" name="EmploymentStatus" class="form-control">
                                <option value="">All</option>
                                <option value="Active">Active</option>
                                <option value="Voluntarily Terminated">Voluntarily Terminated</option>
                                <option value="Terminated for Cause">Terminated for Cause</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 align-self-end">
                            <label for="MaritalStatus">Select Matial Status</label>
                            <select id="MaritalStatus" name="MaritalStatus" class="form-control">
                                <option value="">All</option>
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                                <option value="Divorced">Divorced</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <div class="col-2 align-self-end">
                            <button type="button" id="submitBtn" class="btn btn-success">Do Analysis</button>
                        </div>
                    </div>
                </div>
                <div id="graphContainer" class="container mt-5" style="display: none;">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <h3 class="text-dark font-weight-bold" style="display: inline-block;"> Bar Graph</h3>
                            <h3 style="display: inline-block;"><button id="tog1"
                                    class="btn btn-warning btn-sm ml-3">FadeIn/FadeOut</button></h3>
                            <div id="chartBlock1" class="card card-body" style="height: 30rem;background-color:#c5d4ed">
                                <canvas id="myChart1" style="background-color:gainsboro"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-12">
                            <h3 class="text-dark font-weight-bold" style="display: inline-block;"> Pie Chart</h3>
                            <h3 style="display: inline-block;"><button id="tog2"
                                    class="btn btn-warning btn-sm ml-3">FadeIn/FadeOut</button></h3>
                            <div id="chartBlock2" class="card card-body" style="height: 30rem;background-color:#c5d4ed">
                                <canvas id="myChart2" style="background-color:gainsboro"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-12">
                            <h3 class="text-dark font-weight-bold" style="display: inline-block;"> Polar Area Chart</h3>
                            <h3 style="display: inline-block;"><button id="tog3"
                                    class="btn btn-warning btn-sm ml-3">FadeIn/FadeOut</button></h3>
                            <div id="chartBlock3" class="card card-body" style="height: 30rem;background-color:#c5d4ed">
                                <canvas id="myChart3" style="background-color:gainsboro"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-12">
                            <h3 class="text-dark font-weight-bold" style="display: inline-block;"> Line Chart</h3>
                            <h3 style="display: inline-block;"><button id="tog4"
                                    class="btn btn-warning btn-sm ml-3">FadeIn/FadeOut</button></h3>
                            <div id="chartBlock4" class="card card-body" style="height: 30rem;background-color:#c5d4ed">
                                <canvas id="myChart4" style="background-color:gainsboro"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    </div>
    </section>
    </div>

    <%- include("partials/footer") -%>

        <script>

            $('#tog1').click(function () {
                $('#chartBlock1').fadeToggle()
            })
            $('#tog2').click(function () {
                $('#chartBlock2').fadeToggle()
            })
            $('#tog3').click(function () {
                $('#chartBlock3').fadeToggle()
            })
            $('#tog4').click(function () {
                $('#chartBlock4').fadeToggle()
            })

            const ctx1 = document.getElementById('myChart1');
            const ctx2 = document.getElementById('myChart2');
            const ctx3 = document.getElementById('myChart3');
            const ctx4 = document.getElementById('myChart4');
            var chart1;
            var chart2;
            var chart3;
            var chart4;

            $('#submitBtn').click(function () {
                if (chart1 != null) {
                    chart1.destroy()
                }
                if (chart2 != null) {
                    chart2.destroy()
                }
                if (chart3 != null) {
                    chart3.destroy()
                }
                if (chart4 != null) {
                    chart4.destroy()
                }
                $.ajax({
                    url: "/charts/deptAnalysis",
                    method: "get",
                    dataType: "json",
                    data: {
                        dept: $('#department').val(),
                        analyticsType: $("#analyticsType").val(),
                        empStatus: $("#EmploymentStatus").val(),
                        martialStatus:$('#MaritalStatus').val()
                    },
                    success: function (res) {
                        drawGraph(res.data)
                    },
                    error: function () {
                        alert("Server not responding")
                    }
                })
            })

            function drawGraph(data) {

                var dataValues = []
                var labels = []
                for (var x of data) {
                    labels.push(x._id);
                    dataValues.push(x.Count);
                }
                var dataObj = {
                    labels: labels,
                    datasets: [{
                        borderColor: "black",
                        label: "Employees",
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#34d8eb", "#00bfff", "#bf00ff", "#ffbf00", "#ffb3b3", "#1C9151", "#73911C", "#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#34d8eb", "#00bfff", "#bf00ff", "#ffbf00", "#ffb3b3", "#1C9151", "#73911C"],
                        data: dataValues
                    }]
                }
                var optionsObj = {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontSize: 20,
                                fontColor: "black"
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                fontSize: 16,
                                fontColor: 'black'
                            }
                        }]

                    },
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: $("#analyticsType").val() + "  count"
                    }
                }

                chart1 = new Chart(ctx1, {
                    type: 'bar',
                    data: dataObj,
                    options: optionsObj
                });

                chart2 = new Chart(ctx2, {
                    type: 'pie',
                    data: dataObj,
                    options: optionsObj
                });

                chart3 = new Chart(ctx3, {
                    type: 'polarArea',
                    data: dataObj,
                    options: optionsObj
                });

                chart4 = new Chart(ctx4, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            fill: false,
                            label: "Employees",
                            backgroundColor: "black",
                            borderColor: "red",
                            data: dataValues
                        }]
                    },
                    options: optionsObj
                });


                $('#graphContainer').show()
            }
        </script>



        </body>

</html>