<!DOCTYPE html>
<html lang="en">
  
<%- include("partials/header") -%>

<%- include("partials/sidebar") -%>


    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-4">
              <h1 class="m-0">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-md-1 offset-md-7">
              <button class="btn btn-danger" onclick="window.location.href='/logout'">Logout</button>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
      <section class="content">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-11">

              <div class="card card-info m-3">
                <div class="card-header">
                  <h3 class="card-title">Employee Form</h3>
                </div>
                <div class="card-body">
                  <form action="/operations/save" method="post">
                    <% if(mode=="editable" ){ %>
                      <% for(var [x,y] of Object.entries(editObject)) { %>
                        <% if(x=="_id" ) { continue; } %>
                          <label for="<%= x %>">
                            <%= x %> :
                          </label>
                          <div class="input-group mb-3">
                            <input type="text" class="form-control" id="<%= x %>" placeholder="<%= x %>" name="<%= x %>"
                              value="<%= y %>">
                          </div>
                          <% } %>
                            <input type="hidden" id="monid" name="monid" value="<%= editObject._id %>">
                            <div class="d-flex justify-content-center align-items-center">
                              <button type="submit" class="btn btn-primary mr-3">Submit</button>
                              <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                            <% } %>
                  </form>
                  <% if(mode=="newForm" ){ %>
                    <form action="/operations/save" method="post"onsubmit="return validateForm()">
                      <div class="form-row">
                        <div class="col-md-6 mb-3 offset-md-3">
                          <label for="EmpID">EmpID</label>
                          <input type="text" class="form-control" id="EmpID" name="EmpID" placeholder="EmpID"
                            value="<%= EmpID %>" readonly>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="err col-md-6 mb-3">
                          <label for="fname">First name <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="fname" name="fname" placeholder="First name"
                            onchange="validateField('fname','fErr')">
                          <small class="text-danger" id="fErr"></small>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="lname">Last name <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="lname" name="lname" placeholder="Last name"
                            onchange="validateField('lname','lErr')">
                          <small class="text-danger" id="lErr"></small>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <label for="DateofHire">Gender <span class="text-danger">*</span></label><br>
                          <div class="row">
                            <div class="col-3 offset-md-3">
                              <input type="radio"  id="male" name="Sex" placeholder="Gender" value="M" checked>  Male
                            </div>
                            <div class="col-6">
                              <input type="radio"  id="female" name="Sex" value="F" placeholder="Gender">  Female
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="Department">Marital Status <span class="text-danger">*</span></label>
                          <div class="row">
                            <div class="col-3 offset-md-1">
                              <input type="radio"  id="single" name="MaritalDesc" value="Single" checked>  Single
                            </div>
                            <div class="col-3 offset-md-1">
                              <input type="radio"  id="married" name="MaritalDesc" value="Married" >  Married
                            </div>
                            <div class="col-3 offset-md-1">
                              <input type="radio"  id="separated" name="MaritalDesc" value="Separated" >  Separated
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <label for="Position">Designation <span class="text-danger">*</span></label>
                          <select class="form-control" id="Position" name="Position"
                            onchange="validateField('Position','posErr')">
                            <option value="None" selected>None</option>
                            <% for(var x of positions){ %>
                              <option value="<%= x._id %>"><%= x._id %></option>
                          <% } %>
                          </select>
                          <small class="text-danger" id="posErr"></small>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="ManagerName">Manager Name <span class="text-danger">*</span></label>
                          <select class="form-control" id="ManagerName" name="ManagerName"
                            onchange="validateField('ManagerName','mgrErr')">
                            <option value="None">None</option>
                            <% for(var x of managers){ %>
                              <option value="<%= x.Manager_Name %>" ><%= x.Manager_Name %></option>
                          <% } %>
                          </select>
                          <small class="text-danger" id="mgrErr"></small>
                        </div>
                      </div>


                      <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <label for="DateofHire">Joining Data <span class="text-danger">*</span></label>
                          <input type="date" class="form-control" id="DateofHire" name="DateofHire"
                            placeholder="Date of Hire" onchange="validateField('DateofHire','jdErr')">
                          <small class="text-danger" id="jdErr"></small>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="Department">Department <span class="text-danger">*</span></label>
                          <select class="form-control" id="Department" name="Department"
                            onchange="validateField('Department','deptErr')">
                            <option value="None">None</option>
                            <% for(var x of depts){ %>
                              <option value="<%= x._id %>"><%= x._id %></option>
                            <% } %>
                          </select>
                          <small class="text-danger" id="deptErr"></small>
                        </div>
                      </div>


                      <div class="form-row">
                        <div class="err col-md-6 mb-3">
                          <label for="fname">Employee Satisfaction </label>
                          <input type="text" class="form-control" id="EmpSatisfaction" name="EmpSatisfaction" value="0"
                            readonly>

                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="lname">Special Projects Count </label>
                          <input type="text" class="form-control" id="SpecialProjectsCount" name="SpecialProjectsCount"
                            value="0" readonly>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="err col-md-6 mb-3">
                          <label for="fname">Days Late in Last 30</label>
                          <input type="text" class="form-control" id="DaysLateLast30" name="DaysLateLast30" value="0"
                            readonly>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="lname">Absences </label>
                          <input type="text" class="form-control" id="Absences" name="Absences" value="0" readonly>
                        </div>
                      </div>
                      <div class="justify-content-center">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                      </div>
                    </form>
                    <% } %>

                </div>
                <!-- /.card-body -->
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>

<%- include("partials/footer") -%>

  </body>
</html>