<!DOCTYPE html>
<html lang="en" style="height: auto;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dbox |Leave</title>
    <%- include("partials/header") -%>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="./stylesheets/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="./stylesheets/adminlte.min.css">
</head>



        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/data" class="brand-link">
                <img src="./images/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Dbox</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <% if(username=='pradeep'){%>
                        <img src="/images/pradeep.jpg" class="img-circle elevation-2" alt="User Image">
                        <%} else if(username=='abd') {%>
                            <img src="/images/abd.jpg" class="img-circle elevation-2" alt="User Image">
                        <%} else if(username=='ram') {%>
                                <img src="/images/ram.jpg" class="img-circle elevation-2" alt="User Image">    
                        <%} else {%>
                            <img src="/images/unknown.jpg" class="img-circle elevation-2" alt="User Image">
                        <%}%>

                    
                    </div>
                    <div class="info">
                        <a href="#" class="d-block"><%=username%></a>
                    </div>
                </div>

                <%- include('partials/sidebar.ejs'); %>
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: 2171.6px;">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Leave application Form</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">Leave Form</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-6">
                            <!-- general form elements -->
                            <div class="card card-primary" >
                                <div class="card-header" style="background-color:orangered">
                                    <h3 class="card-title">Leave application page</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->

                                <form method="post" action="/leave/apply">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="en">Username</label>
                                            <input type="text" class="form-control" id="un" name="uid" placeholder="Username" value="<%=username%>">
                                        </div>
                                        <div class="form-group">
                                            <label for="type">Type of leave:</label>
                                            <select id="type" name="type">
                                                <option value="-">Please select</option>
                                                <option value="upaid Leave">upaid leave</option>
                                                <option value="paid Leave">Paid leave</option>
                                            </select>    

                                        </div>
                                        <div class="form-group">
                                            <label for="en">From</label>
                                            <input type="date" class="form-control" id="un" name="fdate" placeholder="date" value="<%=obj.fdate%>">

                                        </div>
                                        <div class="form-group">
                                            <label for="en">To</label>
                                            <input type="date" class="form-control" id="un" name="tdate" placeholder="date" value="<%=obj.tdate%>">

                                        </div>
                                        <div class="form-group">
                                            <label for="en">Reason</label>
                                            <input type="text" class="form-control" id="uph" name="reason" placeholder="Reason" value="<%=obj.reason%>">
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" class="form-control" id="usid" name="usid" placeholder="_id" value="<%=obj._id%>">
                                        </div>
                                    </div>
                                    <!-- /.card-body -->

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary" onclick="funr()" style="background-color:royalblue" >Apply Leave</button>
                                    </div>
                                </form>
                            </div>
                            

                        </div>
                       
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="javascripts/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="javascripts/bootstrap.bundle.min.js"></script>
    <!-- bs-custom-file-input -->
    <!-- <script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script> -->
    <!-- AdminLTE App -->
    <script src="javascripts/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <!-- <script src="../../dist/js/demo.js"></script> -->
    <!-- Page specific script -->

    <script>
        $(function() {
            bsCustomFileInput.init();
        });
    </script>
<script>
    function funr(){
    window.location.href = "/reg";
    //alert("succesfully registered");
    }
</script>
</body>

</html>